
<div class="space">
	<p>	<b>Post Title:</b> <%= @post.title%></p>
	<p><b>Content: </b><%= @post.content%></p>
	<p><b>Time of Creation: </b><small><%= @post.created_at %> </small></p>
	
</div>
<div class="space">
	<button class="btn btn-success">
	<%= link_to "Back", posts_path%>
	</button>
</div>
